# Node / Next.js 基本
node_modules/
.next/
out/
dist/
coverage/
*.tsbuildinfo

# 環境ファイル
.env
.env.*
!.env.example
.env.local

# OS / ツール
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel / Turbopack など
.vercel
.turbo

# エディタ系（必要なら）
.vscode/
.devcontainer/
nul
